.bar {
  fill: steelblue;
}

.horizontalbar-tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #fff;
  /* background: none repeat scroll 0 0 #333; */
  /* border: 1px solid #6f257f; */
  border-radius: 2px;
  padding: 10px;
  text-align: center;
}

.bar:hover {
  fill-opacity: 0.7;
}

.tooltip-marker {
  background: red;
}
